
@import url(http://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */
@font-face {
  font-family: 'NazaninB';
  src: url(../../../files/font/NAZANB.TTF);
}
@font-face {
  font-family: 'Titr';
  src: url(../../../files//font/TITRBD.TTF);
}
@font-face {
  font-family: 'koodak';
  src: url(../../../files//font/KoodakBold.ttf);
}
@font-face {
  font-family: 'irsans';
  src: url(../../../files//font/irsans.ttf);
}
@font-face {
  font-family: Samim;
  src: url('../../../files//font/Samim-FD.eot');
  src: url('../../../files//font/Samim-FD.eot?#iefix') format('FontName-opentype'),
       url('../../../files//font/Samim-FD.woff') format('woff'),
       url('../../../files//font/Samim-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SamimB;
  src: url('../../..//files/font/Samim-Bold-FD.eot');
  src: url('../../..//files/font/Samim-Bold-FD.eot?#iefix') format('FontName-opentype'),
       url('../../..//files/font/Samim-Bold-FD.woff') format('woff'),
       url('../../..//files/font/Samim-Bold-FD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #3D3D3D;
    text-transform: uppercase;
    color: #3D3D3D;
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    height: 60px;
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
margin-bottom: 20px;
color: #fff;
text-align: center;
cursor:pointer;
background-color:#818181;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}
/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #818181;
    color: #fff;
    padding: 10px;
    text-align: right;
}


/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #818181;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #ECCE01!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section *{
    color: black !important;
    text-align: right;
}
#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #ECCE01;
}

.menu-section .nav > li > a:hover, .menu-section .nav > li > a:focus {
    background-color: #F9F9F9 !important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #818181!important;
}

.navbar-inverse {
    border-color: transparent;
    background-color:unset;
}

.navbar-toggle {
    background-color: #818181;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #ECCE01;
}

    footer a, footer a:hover {
        color: #fff;
        text-decoration: none;
    }

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}


     .TXT_Fa
        {
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            border: 1px solid #e7e7e7;
            direction: rtl;
            text-align: right;
            padding-right: 10px;
            margin: 2px;
        }
        .TXT_Fa:hover
        {
            background-color: #FFFFD8;
            border:1px solid #85BBE5;
        }
        .TXT_En
        {
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            border: 1px solid #e7e7e7;
            direction: ltr;
            text-align: left;
            padding-left: 10px;
            margin: 2px;
        }
        .TXT_En:hover
        {
             background-color: #FFFFD8;
            border:1px solid #85BBE5;
        }
        .BTN
        {
            border:1px solid #ECCE01;
            background-color:#E5DA00;
            width:200px;
            -moz-border-radius: 5px;	-webkit-border-radius: 5px;	 border-radius:5px;
        }
        .BTN:hover
        {
            background-color:#818181;
            cursor:pointer;
            border-color:Blue;
        }  
        .frame
        {
            border:1px solid #ECCE01;
            -moz-border-radius: 5px;	-webkit-border-radius: 5px;	 border-radius:5px;
            padding:10px;
            margin-bottom:10px;
        }
                .frame:hover
        {
            border:1px solid #85BBE5;
        }