/*======== site button ===========*/
@media (max-width:610px) {
    .button{
       padding:5px;
    }
}
/*========= circle image ==========*/
.circular--img {
    border-radius: 50%;

}

/*===================*/
.img-fluid {
    max-width: 100% !important;
    height: auto !important;
}

.dotYellow {
    height: 50px;
    width: 50px;
    background-color: #ECCE01;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: black !important;
    line-height:14px;
    font-size:16px;
}

.dotYellow:hover {
    background-color: #bababa;
    color:white !important;
    cursor:pointer;
}

.changeAcnhorTag a {
    color: #cdae2c !important;
}

.panel ul {
    margin: 1em 0;
    display: block !important;
    list-style-type: circle !important;
    padding-right: 40px !important;
    font-family: IranYekan !important;
}

.alert {
    font-family: IranYekan !important;
}

.first-level li {
    list-style-type: square !important;
}

p, h1, h2, h3, h4, h5, h6, span {
    font-family: IranYekan !important;
}

.customeAnchor a:hover {
    color: #a36a00;
}

.MainText {
    font-family: IranYekan !important;
}

.shortenlink {
    font-size: 12px !important;
    color: #8B9AA0;
}

.pointer {
    cursor: pointer;
}

.ad-single-1 {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

.bg-yellow {
    background-color: #ECCE01;
    height: 250px;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-control {
    border: 1px solid #ced4da !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #FAFDE5 inset !important;
    -webkit-text-fill-color: black !important;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
    box-shadow: 0 0 0 30px #FAFDE5 inset !important;
    caret-color: white !important;
    background-color: white !important;
}
/*========sweetalert===========*/
.swal2-title {
    font-size: 15px !important;
    line-height: 30px !important;
}

.swal2-confirm {
    background-color: #EDCE01 !important;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}
/*===================*/
.widget_categories_2 li > a > span {
    background-color: white;
}

.widget_categories_2 li.active > a > span, .widget_categories_2 li:hover > a > span {
    background-color: white;
}

.widget_categories_2 li.hover > a > span, .widget_categories_2 li:hover > a > span {
    color: #DFC912;
}

.widget_categories_2 li {
    padding: 5px 0;
}

.kingYellowForeColor {
    color: #ECCE01 !important;
}

.kingYellowBackColor {
    background-color: #ECCE01 !important;
}

.kingYellow, .search_field {
    background-color: #ECCE01 !important;
}

.search_field {
    width: 150px !important;
}

.kingMediumGray {
    background-color: #D9D9D9 !important;
}

.kingLightGray {
    background-color: #EFEFEF !important;
}

.kingHeader {
    margin-top: 2px;
}

.kingTextJustify {
    text-align: justify !important;
}

.kingHeaderShadow {
    -webkit-box-shadow: 0px 10px 43px -21px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 43px -21px rgba(0,0,0,1);
    box-shadow: 0px 10px 43px -21px rgba(0,0,0,1);
}

.scroll-progress {
    height: 3px;
    width: 0px;
    z-index: 9999999;
    position: absolute;
    bottom: -10px;
}

.gradient-bg-1 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9b9b9b+0,ffe100+100 */
    background: linear-gradient(to right, #9b9b9b 0%,#ffe100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 10px;
}

.main-menu > li {
    padding: 0 5px !important;
}

.main-header .main-nav ul li a {
    font-size: 12px !important;
}

.main-menu > li a:hover {
    color: #ECCE01 !important;
}

.main-menu .menu-item-has-children.show > .dropdown-toggle {
    color: #ECCE01 !important;
}

.sentence-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: relative;
    overflow: hidden;
}

.sentence {
    position: absolute;
    opacity: 0;
    font-size: 1.5rem;
    text-align: center;
    animation: fade 50s linear infinite;
}

    .sentence b {
        color: #FFD700;
    }

    .sentence:nth-child(1) {
        animation-delay: 0s;
    }

    .sentence:nth-child(2) {
        animation-delay: 10s;
    }

    .sentence:nth-child(3) {
        animation-delay: 20s;
    }

    .sentence:nth-child(4) {
        animation-delay: 30s;
    }

    .sentence:nth-child(5) {
        animation-delay: 40s;
    }

@keyframes fade {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



/*/////////////////////////////////////////////////////////////*/
/* fullscreen search box */
.searchOverlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5); /* Black with a little bit see-through */
}

.search-overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.searchOverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

    .searchOverlay .closebtn:hover {
        color: #ccc;
    }

.searchOverlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background-color: #ECCE01 !important;
    color: black;
}

    .searchOverlay input[type=text]:hover {
        background: #f1f1f1;
    }

.searchOverlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}
/*//////////////////////////menu///////////////////////////////////*/
.afterCollapse {
    display: none;
}

    .afterCollapse ol, .afterCollapse li {
        font-family: IranYekan;
    }

@media (max-width:992px) {



    .afterCollapse {
        display: block;
    }

    .navbar {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: flex-end !important;
    }

        .navbar .row {
            width: 100%;
        }

            .navbar .row .rowLogo {
                text-align: right;
                display: inline;
            }

            .navbar .row .rowToggle {
                text-align: left;
            }

            .navbar .row .rowLogo img {
                max-width: none !important;
            }

    .navbar-collapse {
        display: none;
    }
}

.navbar .rowLogo {
    display: none;
}
/*================================ droplist menu*/
@media (max-width:610px) {
    .sentence-container .sentence {
        font-size: 18px !important;
    }
}

@media (max-width:410px) {

    .list-type1 {
        width: 350px;
    }
}

.list-type1 ol li {
    list-style: none;
}

.list-type1 {
    width: 100%;
}

    .list-type1 ol {
        counter-reset: li;
        list-style: none;
        *list-style: decimal;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        padding: 20px;
        margin: 30px;
    }

        .list-type1 ol ol {
            margin: -25px -20px -25px 30px;
        }

            .list-type1 ol ol a {
                background-color: #c6c6c6;
                padding-right: 15px;
            }

    .list-type1 a {
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #ECCE01;
        color: #000;
        text-decoration: none;
        -moz-border-radius: .3em;
        -webkit-border-radius: .3em;
        border-radius: 10em;
        transition: all .2s ease-in-out;
    }

        .list-type1 a:hover {
            background: #d6d4d4;
            text-decoration: none;
            transform: scale(1.1);
        }

        .list-type1 a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #FFD700;
            width: 2em;
            line-height: 2em;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            -moz-border-radius: 2em;
            -webkit-border-radius: 2em;
            border-radius: 2em;
            color: #000;
            font-family: IranYekan;
        }
